// Cores básicas do projeto
$primary: #007bff;
$secondary: #6c757d;
$success: #28a745;
$danger: #dc3545;
$warning: #ffc107;
$info: #17a2b8;

// Neutros
$white: #ffffff;
$offWhite: #f9f6f2;
$greyLight: #e2e2e2;
$grey: #6c757d;
$dark: #343a40;

// Exportando para JavaScript
:export {
  primary: $primary;
  secondary: $secondary;
  success: $success;
  danger: $danger;
  warning: $warning;
  info: $info;
  white: $white;
  offWhite: $offWhite;
  greyLight: $greyLight;
  grey: $grey;
  dark: $dark;
}
